/*.navigation-wrapper .prev {
    position: absolute;
    top: 45%;
    left: 0px;
    height: 5.3125rem !important;
    line-height: 59px !important;
    color: #fff !important;
	cursor:pointer;
}

.navigation-wrapper .next{
    position: absolute;
    top: 45%;
    right: 0px;
    height: 5.3125rem !important;
    line-height: 59px !important;
    color: #fff !important;
	cursor:pointer;
}

.of {
    margin-left: 32px;
    margin-top: 1px;
    display: block;
}
#small_txt {
    position: absolute;
    bottom: -20px;
    color: #000;
    left: 0px;
    background: rgba(255,255,255,0.4);
    padding: 3px 13px;
    font-size: 14px;
    font-family: inherit;
}

 #primary {
    float: left;
    width: 800px !important;
}
*/
/* Block Gallery */
.blocks-gallery-grid{
  width: 100%;
}
  .blocks-gallery-grid .blocks-gallery-image img, .blocks-gallery-grid .blocks-gallery-item img, .wp-block-gallery .blocks-gallery-image img, .wp-block-gallery .blocks-gallery-item img {
         width: 330px !important;
    float: left;
    height: 400px !important;
  }

.blocks-gallery-grid .blocks-gallery-image figcaption, .blocks-gallery-grid .blocks-gallery-item figcaption, .wp-block-gallery .blocks-gallery-image figcaption, .wp-block-gallery .blocks-gallery-item figcaption {
    position: relative !important;
    width: 50% !important;
    padding: 0px 50px 10px 15px;
    color: #000;
    text-align: left;
    font-size: 15px;
    background: transparent !important;
    float: right;
    right: 0px;
    font-style: normal;
}

ul.blocks-gallery-grid  li figure{
  display: block !important;
}

.blocks-gallery-item__caption h1{
  margin-bottom: 0px;
}

.wp-block-gallery {
    position: relative;
}

.wp-block-gallery .prev{
  position: absolute;
    top: 36%;
    left: 0px;
    line-height: 59px !important;
    color: #fff !important;
    box-shadow: none;
	cursor:pointer;
        padding: 14px;
    background-color: rgba(0,0,0,.7);
}

.wp-block-gallery .next{
    position: absolute;
    top: 36%;
    right: 0px;
    line-height: 59px !important;
    color: #fff !important;
    box-shadow: none;
	cursor:pointer;
        padding: 14px;
    background-color: rgba(0,0,0,.7);
}
.blocks-gallery-grid{
	margin:0px !important;
}

.blocks-gallery-item__caption h4{
	margin-top: 0px; 
    margin-bottom: 0px;
}

@media(min-width: 320px) and (max-width: 568px){
  #primary {
    width: auto !important;
  }

.blocks-gallery-grid .blocks-gallery-image figcaption, .blocks-gallery-grid .blocks-gallery-item figcaption, .wp-block-gallery .blocks-gallery-image figcaption, .wp-block-gallery .blocks-gallery-item figcaption{
  width: auto !important;
}

.blocks-gallery-grid .blocks-gallery-image figcaption, .blocks-gallery-grid .blocks-gallery-item figcaption, .wp-block-gallery .blocks-gallery-image figcaption, .wp-block-gallery .blocks-gallery-item figcaption{
  float: none;
}

.blocks-gallery-item__caption h4{
	margin-top: 13px; 
}

}