.sqr_wrapper td.highlighted{
     cursor: pointer;
}
.sqr_wrapper td {
    padding: 0px 7px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
}
.spot{
     visibility: hidden;
}

.gamelist{
     list-style: none;
     margin:0px 0px 30px 0px;
}

.gamelist li{
     font-weight: bold;
     width: 20%;
     display: inline-block;
}

#reservation_start_date_time{
     width: 100%;
    display: block;
    border: 1px solid #ddd;
    padding: 6px;
}
#reservation_start_date_time:focus{
     outline: none;
}

#reservation_start_time_only,#reservation_end_time_only{
     width: 100%;
     display: block;
     border: 1px solid #ddd;
     padding: 6px;
}

#reservation_start_time_only:focus,#reservation_end_time_only:focus{
     outline: none;
}

#reservation_end_date_time{
     width: 100%;
    display: block;
    border: 1px solid #ddd;
    padding: 6px;
}
#reservation_end_date_time:focus{
     outline: none;
}

#game{
     width: 100%;
    display: block;
    border: 1px solid #ddd;
    padding: 6px;
}

.swal2-close:focus{
     box-shadow: none !important;
}

#reservation_information input[type="submit"]:focus{
     outline: none;
}
.makeLogin{
         height: 100%;
    width: 100%;
    display: block;
}

.sqr_wrapper{
        border-collapse: collapse !important;
}

.reserved{
     cursor: auto !important;
}


table.sqr_wrapper td.highlighted {
  background-color:#ccc;
}

table.sqr_wrapper td.user_selectable{
     background-color:#ef1921;    
}

.makeReservation{
     margin-bottom: 20px;
}

#table_id tr td input[type="text"]{
     font-size: 14px;
}

@media(min-width: 320px) and (max-width: 768px){

    .adminReservationBar{overflow: scroll;}

}