.srm_slider {
	clear: both;
}
.slick-slide img {
    height: 556px !important;
    margin: auto;
}
.srmUndo{
	background: #354ef4;
    display: block;
    text-align: center;
    padding: 4px 10px;
    margin-bottom: 20px;
    width: 10%;
    float: right;
    color: #fff;
    font-size: 22px;
    border-radius: 6px;
}

.srmUndo:hover{
    color: #fff;
}

.srm_active{
    border: 3px solid #000;
}

.slick-prev {
    display: none !important;
}

.slick-next {
    right: -34px !important;
    border: none !important;
    font-size: 25px !important;
    font-weight: bold !important;
    color: #000 !important;
}

.slick-next:before{
	display: none !important;
}

.slick-next:hover{
	background-color: transparent !important;
}

.slick-next:focus{
	background-color: transparent !important;	
	outline: none !important;
}

.srm_onboarding {
    background: #f4f4f4;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
}

.srm_onboarding .intro {
    text-align: center;
    margin: 150px auto;
}

.srm_onboarding .intro .image {
    width: 160px;
    height: 160px;
    margin: 40px 0;
}

.srm_onboarding .intro .text {
    font-family: inherit;
    font-size: 22px;
    font-weight: 400;
    font-stretch: normal;
    line-height: 22px;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    white-space: pre-line;
    margin-bottom: 60px;
}

.srm_onboarding button {
    margin: 60px auto;
    align-self: center;
    display: flex;
    width: 400px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
      background-color: #fa7268;
    color: #fff;
}
.view_result {
    display: block;
    text-align: center;
    font-size: 24px;
    background: #ddd;
    padding: 5px 10px;
    width: 20%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #ccc;
    margin:10px auto;
}

.ranking_results .leftSide{
        width: 50%;
    float: left;
}

.ranking_results .rightSide{
    float: right;
    width: 50%;
    padding-left: 30px;
    padding-top: 50px;
}